:root {
    
  
    --contrast-light-color: #fff;
    --warning-color: #df2525;
    --success-color: #047900;
    --transparency-color: #4d4d4d33;
  
    --shadow: 0 5px 10px #55a6ff38;
  }


.formcontato__img{
    display: none;
}

.formcontato{
    background-color: #EAF2FD;
    color: #464646;
    padding: 1rem;
}

.formcontato__title{
    font-size: 22px;
    
}

.formcontato__subtext{
    font-size: 16px;

}

input{
    width: 98%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border: none;
    box-shadow: 0px 2px 2px 0px #464646;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

textarea{
    width: 98%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border: none;
    box-shadow: 0px 2px 2px 0px #464646;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.formcontato__botao{
    background-color: #2A7AE4;
    color: white;
    padding: 0.7rem;
    border: none;
    cursor: pointer;
    
}

.disabled{
    
    background-color: #464646;
    color: white;
    padding: 0.7rem;
    border: none;
   
    
}

.input-message-error {
    display: none;
  }
  .input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }  

  .input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
  }

/*? RESPONSIVE */


  @media (min-width:992px) {
    .formcontato__img{
        display: block;
    }

    .formcontato__contacto{
        display: flex;
        gap: 1rem;
    }

    .formcontato{
        padding: 10%;
    }
  }



